.login-container {
    margin-top: 1%;
    width: 100%;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin20 {
    margin: 20px;
}

.error {
    color: red;
    font-style: italic;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.quizDiv {
    margin-left: 32%;
    text-align: center;
}

.playQuiz {
    margin-left: 17%;
    text-align: center;
}

.input-icon.input-icon-right > .ace-icon {
    right: 20px;
}

#report {
    display: none;
}

.tickMark {
    color: green !important;
    font-size: x-large !important;
}

.cross {
    color: red !important;
    font-size: x-large !important;
}

.thankYou {
    font-size: 50px;
    font-family: initial;
    color: #132A56;
    text-align: center;
    font-style: oblique;
    font-variant: small-caps;
}