.login-container {
    margin-top: 1%;
    width: 100%;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin20 {
    margin: 20px;
}

.error {
    color: red;
    font-style: italic;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.quizDiv {
    margin-left: 32%;
    text-align: center;
}

.playQuiz {
    margin-left: 17%;
    text-align: center;
}

.input-icon.input-icon-right > .ace-icon {
    right: 20px;
}